$background-color-0: rgb(102, 103, 171);
$background-color-1: rgb(248, 249, 251);
$background-color-2: rgb(234, 238, 243);
$background-color-3: rgb(247, 248, 249);
$background-color-4: rgb(247, 248, 250);
$background-color-5: rgb(234, 238, 243);

$border-color-0: rgb(215, 224, 230);
$border-color-1: rgb(235, 238, 242);

$font-color-0: rgb(95, 102, 107);
$font-color-1: rgb(177, 181, 187);
