@import "./media.scss";
@import "./font.scss";
@import "./color.scss";
@import "./boardColor.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR";

  background-color: #f3f3f6;
}
