@import "./media.scss";
@import "./reset.scss";
@import "./color.scss";
@import "./font.scss";
@import "./mark.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR";
}

#nprogress .bar {
  background-color: $main-color-dark;
}

#nprogress .peg {
  box-shadow: 0 0 10px $main-color-dark, 0 0 5px $main-color-dark;
}
