/* 헤더 스타일 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

/* 헤더별 크기 조절 */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

/* 인용문 스타일 */
blockquote {
  margin: 0.5rem 0 0 0;
  padding: 0 1rem;
  border-left: 4px solid #e1e7eb;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #607d8b;
}

p {
  margin: 0;
}

/* 테이블 스타일 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  background-color: #f6f8fa;
  font-weight: bold;
}

/* 굵은체, 기울임체 스타일 */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* 수평선 스타일 */
hr {
  border: none;
  border-top: 1px solid #dfe2e5;
  margin: 0;
}

/* 코드 블록 안의 텍스트 스타일 */
code {
  display: inline-block !important;
  width: 100% !important;
  padding: 1em;
  margin-bottom: 12px;
  box-sizing: border-box;
  box-shadow: none !important;
  background: $background-color-3 !important;
  font-size: 0.9rem;
  font-family: Jetbrains Mono, Consolas, Monaco, monospace;
  // white-space: pre-wrap;
  // word-break: break-all;
  overflow-x: scroll !important;
  line-height: 1.5rem;
}
